@import "tailwindcss";

html {
  font-family: "Inter", sans-serif;
  font-size: clamp(14px, 1.45vw, 1.25em);
  scroll-behavior: smooth;
  scroll-padding-top: 6rem;
  overflow-x: hidden;
  background-color: var(--background);
}

@layer base {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
}

:root {
  /* colors */
  --black: #080e1c;
  --white: #ffffff;
  --off-white: #fef6f7;
  --primary: #ef3b5e;
  --secondary: #1e3465;
  --border: #d8d8da;
  --input-bg: #fafafa;
  --background: #f4f4f6;
  --success: #00ad00;
  --error: #b60707;
  --warning: #f0c63d;

  /* typography */
  --h1: clamp(1.5rem, 5vw, 2rem);
  --h2: clamp(1.25rem, 4vw, 1.5rem);
  --h3: clamp(1rem, 3.5vw, 1.25rem);
  --h4: clamp(0.95rem, 3vw, 1.15rem);
  --p1: clamp(0.75rem, 2.5vw, 0.85rem);
  --p2: clamp(0.65rem, 2vw, 0.75rem);
  --p3: clamp(0.55rem, 1.75vw, 0.65rem);
  --p4: clamp(0.45rem, 1.5vw, 0.55rem);

  /* elements */
  --radius: clamp(0.75rem, 2vw, 1rem);
  --radius-m: clamp(0.5rem, 1.5vw, 0.75rem);
  --radius-s: clamp(0.35rem, 1.2vw, 0.55rem);
  --radius-ss: clamp(0.25rem, 1vw, 0.45rem);
  --padding: clamp(0.75rem, 3vw, 1rem);

  --transition: ease 0.5s;
  --cta-hover: brightness(93%);
}

* {
  color: var(--black);
  box-sizing: border-box;
  font-size: var(--p1);
  scroll-behavior: smooth;
  font-family: "Inter", sans-serif;
  transition: var(--transition);
}

body {
  background: var(--background);
  color: var(--black);
  display: grid;
  overflow: hidden;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  grid-gap: 1rem;
  gap: 1rem;
  width: 100vw;
  min-height: 100vh;
  padding: 1rem;
  padding-bottom: 0;
}

h1 {
  font-size: var(--h1);
  font-weight: 600;
  line-height: 130%;
  font-family: "Inter", sans-serif;
}

h1 span {
  font-size: var(--h1);
  font-weight: 600;
  font-family: "Inter", sans-serif;
}

h2 {
  font-size: var(--h2);
  font-weight: 600;
  line-height: 130%;
  font-family: "Inter", sans-serif;
}

h3 {
  font-size: var(--h3);
  font-weight: 600;
  line-height: 150%;
  font-family: "Inter", sans-serif;
}
h4 {
  font-weight: 600;
  font-size: var(--h4);
  line-height: 180%;
  font-family: "Inter", sans-serif;
}

p {
  line-height: 180%;
}

ul li {
  line-height: 180%;
}
a {
  text-decoration: none;
}

.cta,
.cta-2 {
  display: flex;
  align-items: center;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  color: var(--white);
  border-radius: var(--radius-s);
  transition: var(--transition);
  cursor: pointer;
  user-select: none;
  text-align: center;
  width: fit-content;
  font-weight: 500;
  user-select: none;
  outline: none;
  border: none;
  font-family: "Inter", sans-serif;
  background-color: var(--primary);
  font-size: var(--p2);
  height: 2.5rem;
  gap: 0.25rem;
  line-height: normal;
}

.cta svg,
.cta-2 svg {
  height: 1rem;
  width: 1rem;
  opacity: 0.8;
}

svg {
  stroke-width: 0.08rem;
}

.cta-2 {
  background-color: var(--white);
  color: var(--black);
  outline: 1px solid var(--border);
}

.cta:hover,
.cta-2:hover {
  filter: var(--cta-hover);
}

.checkbox-container {
  display: flex;
  cursor: pointer;
  align-items: center;
  gap: 0.5rem;
}

.checkbox-container .checkbox-label {
  font-size: var(--p3);
  opacity: 0.8;
  font-weight: 500;
}

.checkbox-container .checkbox {
  height: 1rem;
  width: 1rem;
  border: 1px solid var(--border);
  border-radius: 0.25rem;
  font-size: var(--p3);
  display: flex;
  align-items: center;
  justify-content: center;
}

.checkbox-container .checkbox svg {
  height: 0.75rem;
  width: 0.75rem;
  stroke-width: 2.5px;
  stroke: var(--white);
  visibility: hidden;
}

.checked-checkbox .checkbox {
  background-color: var(--primary);
  border: 1px solid transparent;
}

.checked-checkbox .checkbox svg {
  opacity: 1;
  visibility: visible;
  stroke-dasharray: 28;
  stroke-dashoffset: 28;
  transition: initial !important;
  animation: drawCheck 5s ease forwards !important;
}

@keyframes drawCheck {
  0% {
    stroke-dashoffset: 20;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

.radio-btn-container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
}

.radio-btn-container .radio-btn {
  height: 1rem;
  width: 1rem;
  border: 1px solid var(--border);
  border-radius: 50%;
  cursor: pointer;
}

.selected-radio-btn .radio-btn {
  border: 5px solid var(--primary);
}
.radio-btn-container .radio-btn-label {
  height: fit-content;
  width: fit-content;
  border: 0;
  border-radius: 0;
  font-size: var(--p3);
  cursor: pointer;
  opacity: 0.8;
  font-weight: 500;
}

.expand-search .search .checkbox-label,
.expand-search .search .radio-btn-label {
  opacity: 0.8;
}

.hide-scrollbar::-webkit-scrollbar {
  width: 0;
  height: 0;
}
.hide-scrollbar::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}


.feature {
  background-color: #ededed;
  border: 1px solid var(--border);
  border-radius: 2rem;
  height: 1.5rem;
  display: flex;
  align-items: center;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  font-size: var(--p4);
}


.feature span {
  font-size: var(--p4);
  line-height: 0%;
  text-align: center;
  white-space: nowrap;
  opacity: 0.75;
}

