.search {
  grid-template-columns: 1fr 10rem 10rem auto;
  width: 75%;
  padding-left: 0.25rem;
  padding-right: 0.25rem;
  border-radius: calc(var(--radius-s) * 1.5);
  background-color: var(--white);
  border: 1px solid var(--border);
  height: 3.35rem;
  z-index: 2;
  align-items: center;
  transition: ease 0.3s;
}

.collapse-search .search {
  right: 50%;
  transform: translateX(50%);
}

.search .cta-container {
  grid-template-columns: auto auto;
  width: fit-content;
  background-color: transparent;
  border: 0px solid transparent;
  margin: 0;
}

.expand-search .cta-container {
  margin-top: auto;
}

@media screen and (min-width: 1440px) {
  .search {
    width: 50%;
  }
}

.expand-search .search,
.property-view {
  display: flex;
  flex-direction: column;
  width: calc(35% - 1rem);
  right: 0%;
  transform: translateX(0%);
  height: calc(100vh - 5.5rem);
  align-items: initial;
  padding: 0.5rem;
}

.expand-search .search {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
}

.property-view {
  right: -100%;
  transition: ease 0.5s;
}

.property-view-active {
  right: 0;
  transition: ease 0.5s;
}

.expand-search .scrolled {
  height: calc(100vh - 2rem);
}

.expand-search .cta-container {
  width: 100%;
  grid-template-columns: 1fr auto;
  background-color: var(--white);
}

.collapse-search .cta {
  width: 5rem;
}

.expand-search .cta-container .cta {
  width: 100%;
  height: 2.5rem;
}

.expand-search .cta-container .cta-2 {
  width: 2.5rem;
  height: 2.5rem;
  padding: 0;
}

@media screen and (min-width: 1440px) {
  .expand-search .search,
  .property-view {
    width: calc(30% - 1.5rem);
    right: 1rem;
  }
}

.expand-search .search * {
  opacity: 1;
  animation-name: expand-search-container;
  animation-duration: 1s;
  animation-timing-function: ease;
}

@keyframes expand-search-container {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.collapse-search .search div {
  opacity: 1;
  animation-name: collapse-search-container;
  animation-duration: 1s;
  animation-timing-function: ease;
  height: 2.75rem;
  background-color: var(--input-bg);
  border: 1px solid var(--border);
  border-radius: var(--radius-s);
}

.collapse-search .search .cta-container {
  background-color: transparent;
  border: 0;
}

@keyframes collapse-search-container {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.search .cta,
.search .cta-2 {
  height: 2.75rem;
}

.search .label {
  font-size: var(--p2);
}

.search .value {
  font-size: var(--p3);
  opacity: 0.7;
}

.search .value * {
  font-size: var(--p3);
}

.search .filter-value {
  grid-template-columns: 1fr auto;
}

.search .filter-value svg {
  height: 0.85rem;
  width: 0.85rem;
}

.search .filter {
  background-color: #faf8f8;
  border: 1px solid var(--border);
  border-radius: var(--radius-s);
  height: fit-content;
}

.expand-search .location{
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  height: 2.75rem;
}

.expand-search .filter {
  background-color: rgba(250, 248, 248, 0.35);
}

.expand-search .rent-range-container {
  background-color: rgba(250, 248, 248, 0.35);
  border: 1px solid var(--border);
  border-radius: var(--radius-s);
}

.search-input-box {
  height: 2.5rem;
  width: 100%;
  background-color: rgba(250, 248, 248, 0.15);
  border: 1px solid var(--border);
  border-radius: var(--radius-s);
  grid-template-columns: auto 1fr;
  padding-left: 0.5rem;
}

.search-input-box input {
  width: 100%;
  background-color: transparent;
  border: none;
  outline: none;
  font-size: var(--p2);
  font-weight: 500;
}

.search-input-box svg {
  height: 1rem;
  width: 1rem;
  stroke: var(--black);
  stroke-width: 2px;
}
.expand-search .search-input-box svg {
  opacity: 0.7;
}
